In [67]:
import numpy as np
import pandas as pd
import pickle

In [68]:
df=pd.read_csv('data.csv')
df.head()

,id,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,50.391781,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,55.419178,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,51.663014,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,48.282192,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,47.873973,1,156,56.0,100,60,1,1,0,0,0,0

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age_days     70000 non-null  int64
 2   age_year     70000 non-null  float64
 3   gender       70000 non-null  int64
 4   height       70000 non-null  int64
 5   weight       70000 non-null  float64
 6   ap_hi        70000 non-null  int64
 7   ap_lo        70000 non-null  int64
 8   cholesterol  70000 non-null  int64
 9   gluc         70000 non-null  int64
 10  smoke        70000 non-null  int64
 11  alco         70000 non-null  int64
 12  active       70000 non-null  int64
 13  cardio       70000 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 7.5 MB

In [70]:
X=df.drop('cardio',axis=1)
y=df['cardio']

In [71]:
X.head()

,id,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,18393,50.391781,2,168,62.0,110,80,1,1,0,0,1
1,1,20228,55.419178,1,156,85.0,140,90,3,1,0,0,1
2,2,18857,51.663014,1,165,64.0,130,70,3,1,0,0,0
3,3,17623,48.282192,2,169,82.0,150,100,1,1,0,0,1
4,4,17474,47.873973,1,156,56.0,100,60,1,1,0,0,0

In [72]:
X.drop('id',axis=1,inplace=True)

In [73]:
X=X/X.max()
X.head(3)

,age_days,age_year,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0.775650,0.775650,1.0,0.672,0.310,0.006866,0.007273,0.333333,0.333333,0.0,0.0,1.0
1,0.853034,0.853034,0.5,0.624,0.425,0.008739,0.008182,1.000000,0.333333,0.0,0.0,1.0
2,0.795218,0.795218,0.5,0.660,0.320,0.008115,0.006364,1.000000,0.333333,0.0,0.0,0.0

In [74]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [75]:
lr=LogisticRegression()

In [76]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.80,random_state=123)

In [77]:
lr.fit(X_train,np.ravel(y_train))

LogisticRegression()

In [78]:
lr.score(X_train,y_train)

0.6448571428571429

In [79]:
lr.score(X_test,y_test)

0.6446428571428572

In [80]:
pickle.dump(lr, open('model.pkl','wb'))

In [81]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[20000,55.42,1,180,75,125,85,0,0,0,1,1]]))

[1]

In [82]:
from sklearn.metrics import confusion_matrix,classification_report

In [83]:
lr_pred=lr.predict(X_test)

In [84]:
confusion_matrix(y_test,lr_pred.round())

array([[18905,  9083],
       [10817, 17195]], dtype=int64)

In [85]:
print(classification_report(y_test,lr_pred.round()))

              precision    recall  f1-score   support

           0       0.64      0.68      0.66     27988
           1       0.65      0.61      0.63     28012

    accuracy                           0.64     56000
   macro avg       0.65      0.64      0.64     56000
weighted avg       0.65      0.64      0.64     56000

In [86]:
lr_pred

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)